<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='docsupport/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='docsupport/prism.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='chosen.css') }}">
</head>
<body>
<!--  <form action = "http://172.31.1.232:5000/upload" method = "POST" enctype = "multipart/form-data">-->
  <form action = "{{ url_for('process') }}" method="POST" enctype="multipart/form-data">
    <div id="container">
      <div id="content">
        <header>
          <h1>Value Drivers <small>(<span id="latest-version">v1.0.0</span>)</small></h1>
        </header>
        <p>Value Drivers Regen is a utility that transforms data and generates the value drivers for a given input data.
          Download a sample template for more info.</p>

        <p>
          <a class="button button-blue" href="{{ url_for('download_template') }}">Download sample input template</a>
<!--          <a class="button" href="https://github.com/harvesthq/chosen">Process</a>-->
<!--          <a class="button" href="https://github.com/harvesthq/chosen/blob/master/contributing.md" disabled>Download Report</a>-->
        </p>

      <h2><a name="multiple-select" class="anchor" href="#multiple-select">Provide user input</a></h2>
      <div class="side-by-side clearfix">
        <div>
          <em>Process value drivers</em>
        </div>
      </div>

        <div>
              <input class="button" type = "file" name = "file" accept=".xlsx, .xls, .csv"/>
              <input class="button" type="submit" value="Process"/>
            </div>

    </div>
  </div>
  <script src="{{ url_for('static', filename='docsupport/jquery-3.2.1.min.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='chosen.jquery.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='docsupport/prism.js') }}" type="text/javascript" charset="utf-8"></script>
  <script src="{{ url_for('static', filename='docsupport/init.js') }}" type="text/javascript" charset="utf-8"></script>
  </form>

</body>
</html>
