
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Webpage</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/project.css') }}">
</head>
    <body>
      <h1> Upload the spread sheet below</h1>
        <form action = "http://172.31.1.232:5000/checking" method = "POST" enctype = "multipart/form-data">
         <div class="form-group" style="padding:10px">
            <input class="btn2" type = "submit" value="Process"/>
         </div>
        </form>
        <form action = "http://172.31.1.232:5000/upload" method = "POST" enctype = "multipart/form-data">
         <div class="form-group" style="padding:10px">
            <input class="btn1" type = "file" name = "file" accept=".xlsx, .xls, .csv"/>
            <input class="btn2" type = "submit"/>
         </div>
        </form>
   </body>
{{ x }}
</html>