<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='docsupport/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='docsupport/prism.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='chosen.css') }}">
</head>
<body>
  <form action="{{ url_for('generate') }}" method="POST" enctype="multipart/form-data">
    <div id="container">
      <div id="content">
        <header>
                <h1>Value Drivers <small>(<span id="latest-version">v1.0.0</span>)</small></h1>
            </header>
            <p>Value Drivers is a utility that transforms data and generates the value drivers for a given input
                data.
                Download a sample template for more info.</p>
            <p>
                <a class="button button-blue" href="{{ url_for('download_template') }}">Download sample input
                    template</a>
                <!--          <a class="button" href="https://github.com/harvesthq/chosen">Process</a>-->
                <!--          <a class="button" href="https://github.com/harvesthq/chosen/blob/master/contributing.md" disabled>Download Report</a>-->
            </p>

            <h2><a name="multiple-select" class="anchor" href="#multiple-select">Corporation selection</a></h2>
            <div class="side-by-side clearfix">
                <div>
                    <em>Choose parent corporation</em>
                    <select name="parent_corp" data-placeholder="Select parent corporation..." class="chosen-select">
                        <option value=""></option>
                        {% if parent_orgs|length > 0 %}
                            <optgroup label="SANOFI">
                                {% for sel, col in parent_orgs %}
                                <option {{sel}} value="{{col}}">{{col}}</option>
                                {% endfor %}
                            </optgroup>
                        {% endif %}
                        {% if non_parent_orgs|length > 0 %}
                            <optgroup label="OTHERS">
                                {% for sel, col in non_parent_orgs %}
                                <option {{sel}} value="{{col}}">{{col}}</option>
                                {% endfor %}
                            </optgroup>
                        {% endif %}
                    </select>
                </div>
            </div>

            <h2><a name="multiple-select" class="anchor" href="#multiple-select">Global Top 10</a></h2>
            <div class="side-by-side clearfix">
                <div>
                    <em>Choose Global top 10</em>
                    <select name="global_top10" data-placeholder="Select top 10..." class="chosen-select" multiple>
                        <option value=""></option>
                        {% if global_top10|length > 0 %}
                            <optgroup label="GLOBAL TOP 10">
                                {% for col in global_top10 %}
                                <option selected value="{{col}}">{{col}}</option>
                                {% endfor %}
                            </optgroup>
                        {% endif %}
                        {% if non_global_top10|length > 0 %}
                            <optgroup label="OTHERS">
                                {% for col in non_global_top10 %}
                                <option value="{{col}}">{{col}}</option>
                                {% endfor %}
                            </optgroup>
                        {% endif %}
                    </select>
                </div>
                <div>
                    <em>Choose competitor for analysis</em>
                    <select name="competitor" data-placeholder="Select competitor..." class="chosen-select-deselect">
                        <option value=""></option>
                        {% for col in entry_orgs %}
                        <option value="{{col}}">{{col}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div>
                <button class="button">Download report</button>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='docsupport/jquery-3.2.1.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='chosen.jquery.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='docsupport/prism.js') }}" type="text/javascript"
            charset="utf-8"></script>
    <script src="{{ url_for('static', filename='docsupport/init.js') }}" type="text/javascript"
            charset="utf-8"></script>
</form>

</body>
</html>
