html {
    font-family: "Lato", "helvetica neue","Arial","sans-serif";
}
body {
    background-image: url(bl3.jpg);
    background-size: cover;
    margin: 0;
    
}
h1 {
    font-size: 40px;
    text-align: center;
    color: black;
    font-style: normal;
    padding-top: 10px;
    margin-top: 100px;
    font-family: Sans-serif;
}

.btn1{
    
    color: white;
    border: none;
    padding: 15px 28px;
    font-size: 16px; 
    align-items: center;
    margin-right: 10px;
    margin-top: 20px;
    margin-left: 430px;
    margin-bottom: 300px;
}

.btn2{
    
    color: black;
    border: none;
    padding: 5px 15px;
    font-size: 16px;
    align-items: center;
    margin-right: 250px;
    
    
}

